// Place all the styles related to the inicios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3{
color:black;
}

h1{
	
}
body {
    background-image: url("fondoweb.jpg");
    background-color: #cccccc;
}