<div class="page-body">
<h1>What is translation Community Source?</h1>
<h3>This community provides the posibility to get assistant of the traduction of different 
types of archives with the objective of get a proffesional translation from the community users.

Are you interesting in start your own business or studies with your knowledge of languages? Start now!

You can give assistan to the community users for get valorations and a reputation on the site, so

the business interesting in translate archives, can the possibility to contact you and pay for the service

Start now! Join to the community and start a great trip of possibilities in the network!


</h3>

<%= image_tag('inicio1.png') %>

<h1>What is the purpose??</h1>
<h3>The purpose is help to the people that needs assistance in a determinate language.

Is a great opportunity for the business to get traductors rapid and timely manner and a opportunity

to the languages students for get a better domain of language.
</h3>
<%= image_tag('inicio2.jpg') %>
</div>